* {
   padding: 0; margin: 0;
}
canvas {
  margin-right: 5%;
  align-self: center;
  border-style: dashed;
  border-width: medium;
  border-color: #d7c82b;
}
body {
 background-image: url("arcade.jpg");
}
audio {
  display: none;
}
#form{
  background-color: #d7c82b;
  border-style: dashed;
  border-width: medium;
  border-color: #d7c82b;
  text-align: center;
  color: 	#295ba7;
  align-self: center;
}

#instructions{
  display: block;
  text-align: center;
  font-size: 25px;
  color: #d7c82b
}

#container{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;

}
